<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="FFXIV_TexTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
      <FFXIV_TexTools.Properties.Settings>
          <setting name="FFXIV_Directory" serializeAs="String">
              <value />
          </setting>
          <setting name="Save_Directory" serializeAs="String">
              <value />
          </setting>
          <setting name="Application_Language" serializeAs="String">
              <value />
          </setting>
          <setting name="Application_Theme" serializeAs="String">
              <value>BaseLight</value>
          </setting>
          <setting name="BG_Color" serializeAs="String">
              <value>#FF777777</value>
          </setting>
          <setting name="DX_Version" serializeAs="String">
              <value>11</value>
          </setting>
          <setting name="Backup_Directory" serializeAs="String">
              <value />
          </setting>
          <setting name="ModPack_Directory" serializeAs="String">
              <value />
          </setting>
          <setting name="Default_Race" serializeAs="String">
              <value>Hyur Midlander</value>
          </setting>
          <setting name="Hair_Highlight_Color" serializeAs="String">
              <value>#FF5B6E81</value>
          </setting>
          <setting name="Eye_Color" serializeAs="String">
              <value>#FF603913</value>
          </setting>
          <setting name="Lip_Color" serializeAs="String">
              <value>#998B372E</value>
          </setting>
          <setting name="Tattoo_Color" serializeAs="String">
              <value>#FF307066</value>
          </setting>
          <setting name="Furniture_Color" serializeAs="String">
              <value>#FF8D3CCC</value>
          </setting>
          <setting name="Cull_Mode" serializeAs="String">
              <value>Back</value>
          </setting>
          <setting name="FFXIV_Version" serializeAs="String">
              <value />
          </setting>
          <setting name="UpgradeRequired" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="Default_Race_Selection" serializeAs="String">
              <value />
          </setting>
          <setting name="Default_Author" serializeAs="String">
              <value />
          </setting>
          <setting name="ModList_Sorting" serializeAs="String">
              <value>NameSort</value>
          </setting>
          <setting name="ModList_Filter" serializeAs="String">
              <value>Item</value>
          </setting>
          <setting name="ForceUV1QuadrantForGear" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="CloneUV1toUV2ForHair" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="ExportTexDDS" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="ExportTexBMP" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="ExportTexPNG" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="Skin_Color" serializeAs="String">
              <value>#FFDBB89A</value>
          </setting>
          <setting name="Hair_Color" serializeAs="String">
              <value>#FF6E4D23</value>
          </setting>
          <setting name="Iris_Color" serializeAs="String">
              <value>#FFAC719F</value>
          </setting>
          <setting name="Etc_Color" serializeAs="String">
              <value>#FF603913</value>
          </setting>
          <setting name="Sync_Views" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="Remember_Race_Selection" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="ExportAllBones" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="UseOriginalShapeDataForFace" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="Default_Modpack_Url" serializeAs="String">
              <value />
          </setting>
          <setting name="AutoMaterialFix" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="FixPreDawntrailOnImport" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="LiveDangerously" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="PenumbraFolder" serializeAs="String">
              <value />
          </setting>
          <setting name="OpenTransactionOnStart" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="ShiftExportUV" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="ShiftImportUV" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="ModelingTool" serializeAs="String">
              <value />
          </setting>
          <setting name="FixPreDawntrailPartialOnImport" serializeAs="String">
              <value>True</value>
          </setting>
          <setting name="MaxImageSize" serializeAs="String">
              <value>0</value>
          </setting>
          <setting name="CompressEndwalkerUpgradeTextures" serializeAs="String">
              <value>True</value>
          </setting>
      </FFXIV_TexTools.Properties.Settings>
  </userSettings>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.Compression.DoNotUseNativeZipLibraryForDecompression=true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="DotNetZip" publicKeyToken="6583c7c814667745"  culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.16.0.0" newVersion="1.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HelixToolkit" publicKeyToken="52aa3500039caf0d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.17.0.0" newVersion="2.17.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HelixToolkit.SharpDX.Core" publicKeyToken="52aa3500039caf0d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.17.0.0" newVersion="2.17.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HelixToolkit.Wpf.SharpDX" publicKeyToken="52aa3500039caf0d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.17.0.0" newVersion="2.17.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.DXGI" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.Direct2D1" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.Mathematics" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.117.0" newVersion="1.0.117.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.UnmanagedMemoryStream" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TeximpNet" publicKeyToken="978ca55aa4aa29a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.3.0" newVersion="1.4.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>
