<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.6.0" targetFramework="net472" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="Cyotek.Drawing.BitmapFont" version="1.3.4" targetFramework="net472" />
  <package id="DotNetZip" version="1.13.8" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.6.0" targetFramework="net472" />
  <package id="HelixToolkit" version="2.9.0" targetFramework="net472" />
  <package id="HelixToolkit.SharpDX.Core" version="2.9.0" targetFramework="net472" />
  <package id="HelixToolkit.Wpf" version="2.9.0" targetFramework="net472" />
  <package id="HelixToolkit.Wpf.SharpDX" version="2.9.0" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Material" version="2.3.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Modern" version="2.3.0" targetFramework="net472" />
  <package id="Microsoft.HLSL.CSharpVB" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.Net.Compilers.Toolset" version="3.3.1" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="SharpDX" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.D3DCompiler" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net472" />
  <package id="SixLabors.Core" version="1.0.0-beta0008" targetFramework="net472" />
  <package id="SixLabors.ImageSharp" version="1.0.0-beta0007" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.113.1" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Private.DataContractSerialization" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.TypeExtensions" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Xml" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
  <package id="TeximpNet" version="1.4.1" targetFramework="net472" />
</packages>